.popup-container {
  background-color: rgba(13, 12, 15, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #c6cacc;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup h2 {
  margin: 20px;
  margin-top: 70px;
}

.close {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  background: none;
  margin-left: 90px;
  border: none;
  outline: none;
}

.retry {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(13, 12, 20);
  color: #c6cacc;
  font-weight: bold;
  margin-top: 10px;
}
